<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escapers - Fejlside</title>
    <link rel="stylesheet" href="{{css_url}}">
</head>
<body>
    <header>
        <h1>Escapers - fejlside</h1>
        <div class="header-connector"></div>
    </header>
    <main>
        <div id = "error_page_container">
            <h2>{{error_message}}</h2>
            <img src="{{error_image_url}}">
            <a href = "/">G&aring; til forsiden</a>
        </div>
    </main>
</body>
</html>