<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escapers - Kontrolpanel</title>
    <link rel="stylesheet" href="{{css_url}}">
    <script src="{{script_url}}"></script>
</head>
<body>
    <header>
        <h1>Escapers - Kontrolpanel</h1>
        <div class="header-connector"></div>
    </header>
    <main>
        
        <div class = "container-box">
            <div class="scrollable-box">
                <h2>Opgaver</h2>
                <ul>
                    <li><a href="#" id="selected" data-index="{{selected_index}}">Indlæser...</a></li>
                </ul>
                <div class = "selector-list">
                    <ul style = "overflow-y: auto;" id = "unselected-parent">
                    </ul>
                </div>
            </div>
            <div class="content-box">
                <h2 id = "selected-taskname-header">
                    Indlæser...
                </h2>
                <div style = "display: flex;">
                    <div id = "settings-parent">
                    </div>
                    <div class="utility-box">
                        <h2>Materiale</h2>
                        <h3>Standard materiale</h3>
                        <h3>Mit materiale</h3>
                        <h2>Overblik</h2>
                        <img src = "{{overview_image_url}}">
                        <h3>Foregående opgaver</h3>
                        <h3>Opgaven oplåser</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="popup" class="popup">
        Indstillingerne blev gemt!
    </div>
</body>
</html>
